/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    
    background-color: dodgerblue;
}

#main-row{
    height: 100vh;
}

/* Definisco la parte vera solo se si è interni alla lista */
#shotDice{
    display:none;
}
#shotPC{
    color: red;
    font-weight: 700;
}
#shotUser{
    color: green;
    font-weight: 700;
}

#final-row{
    display: none;
}

#victoryUser{
    display: none;
}

#victoryPC{
    display: none;
}

#equal{
    display: none;
}

#notShot{
    display: none;
}